*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Pacifico", cursive;
}
.nav-bar{
    background-image: -webkit-gradient(linear,left top,right top,from(#15136d),to(#580b4a));
    background-image: linear-gradient(90deg,#0d0c5f, #641155);
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    font-family: "Pacifico", cursive;
    margin: 3px 4px 4px 3px;
}
.menu {
    list-style-type: none;
    margin-top: -38px;
    float: right;
    margin-right: 50px;
}
.menu li {
    display: inline-block;   
}
.menu a{
    text-decoration: none; 
    color: inherit;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;    
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.menu a:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; 
    
}
.logo{
    display: flex;
}
#logo{
    width: 48px;
    margin-top: 3px;
    height: 30px;
    vertical-align: middle;
}
h3{
    margin-top: 12px;
    font-family: "Pacifico", cursive;
    color: white;
}
.navbar-container{
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    height: 35vh;
    padding: 25vh;
    border-radius: 10px;
    align-items: center;
}
.content{
    border-radius: 15px;
    background-color: rgba(14, 14, 105, 0.658);
    width: 50vw;
    height: 35vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: "";
    position: absolute;
    background-color: #580b4ade;
    width: 45%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
    left: 0;
    display: flex;
    justify-content: center;
}
.first-content{
    display: flex;
    margin-left: 20px;
}
.second-content{
    position: absolute;
    display: flex;
    justify-content: space-around;
}
.first-colun{
    text-align: center;
    margin-top: 40px;
    margin-right: 20px;
    flex: 1 0 auto;
}
.second-colun{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 25px;

}
.first-content .first-colun{
    z-index: 12;
}
.first-content .second-colun{
    z-index: 12;
}
.first-colun .title{
    margin-bottom: 10px;
}
.second-content .first-colun{
    order: 2;
    z-index: -1;
    opacity: 0;
}
.second-content .second-colun{
    order: 2;
    z-index: -1;
    opacity: 0;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.title{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize; /* deixar as primeiras letras em cacha alta*/
    justify-self: center;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
button{
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 15px;
    width: 150px;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none;
}
.btn-primary{
    background-color: transparent;
    font-size: 12px;
    padding: 10px 8px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}
.btn-secundary{
    background-color: transparent;
    font-size: 12px;
    padding: 10px 8px;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
}
.btn-primary:hover{
    background-color: #833875;
    color: #fff;
    align-items: center;
    font-weight: bold;
}
.btn-secundary:hover{
    background-color: #544ba7;
    font-weight: bold;
    align-items: center;
}
input{
    border-radius: 10px;
    margin-top: 4px;
    text-align: center;
    border: none;
}
a{
    color: #fff;
    margin-top: 2px;
    text-decoration: none;
}
.entrar-js .first-content .first-colun, .entrar-js .first-content .second-colun{
    z-index: -1;
    opacity: 0;
}
.entrar-js .second-content .first-colun, .entrar-js .second-content .second-colun{
    z-index: 15;
}
.entrar-js .content::before{
    left: 55%;
}
.inscrever-js .second-content .first-colun, .inscrever-js .second-content .second-colun{
    z-index: -1;
    opacity: 0;
}
.inscrever-js .first-content .first-colun, .entrar-js .first-content .second-colun{
    z-index: 18;
}